
.container {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;  
  background-color: antiquewhite;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header {
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color:darkorange;
  }

  h1 {
    font-size: 1.5rem;
    margin: 20px;
    color: #333;
  }
  
  .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  
    &.primary {
      background-color: #007bff;
      color: white;
      &:hover {
        background-color: #0056b3;
      }
    }
  
    &.edit {
      background-color: #28a745;
      color: white;
      margin-right: 5px;
      &:hover {
        background-color: #1e7e34;
      }
    }
  
    &.delete {
      background-color: #dc3545;
      color: white;
      &:hover {
        background-color: #c82333;
      }
    }
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  
    thead {
      background-color: #f8f9fa;
      border-bottom: 1px solid #dee2e6;
    }
  
    th, td {
      padding: 12px 15px;
      text-align: left;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    .actions {
      white-space: nowrap;
    }
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
    }
    thead tr {
      display: flex;
    }
    th {
      min-width: 120px;
    }
    td {
      display: flex;
      align-items: center;
      min-width: 120px;
      &::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
      }
    }
    tr td:first-child {
      display: none; /* Oculta o ID em telas pequenas */
    }
    .actions {
      display: flex;
      flex-direction: column;
      gap: 5px;
      button {
        width: 100%;
      }
    }
  }